/**
 * CSS PeriTechno 
 */



/**
 * Navbar atas
 */

.navbar-pink {
	background-color: #fd85e3;    
	border-color: #d3e0e9;
}

/**
 * ul / li
 */

.btn-xs  a.btn-group:hover{
	background-color: #000;
}


/**
 * Jumron
 */

.jumbotron {
	margin-bottom: 1px;
}

/**
 * Panel Panel
 */
.panel, p, a {
	padding: 1px;
	margin-bottom: 1px;
}

.big-menu {
	color: #fd85e3;
	margin-bottom: 1px;
	border-bottom: 1px solid #fd85e3;
	padding: 1px;
}

.big-menu:hover {
	color: #fd85e3;
	border-bottom: 2px solid #fd85e3;
	margin-bottom: 1px;
	padding: 0;
}

.panel-body {
	margin-bottom: 1px;
	padding: 1px;
}

.panel .big-menu {
	padding: 1px;
}

/**
 * Paragraf P
 */

p.text-center a {
	color: #fd85e3;
	text-decoration: none;
	font-size: 20px;
}

#image, .image-thumb {
	display: none;
}

#img {
	width: 224px;
	height: 120px;
}

.input-cat-btn {
	position: relative;
    font-size: 0;
    white-space: nowrap;
	width: 1%;
    vertical-align: middle;
	display: table-cell;
}

*, :after, :before {
	box-sizing: border-box;
}

.pagination {
	margin: 0;
}

.ln_solid {
	margin: 10px;
}

.btn-published {
	color: #fff;
    background: #26B99A;
    border: 1px solid #169F85;
}

.btn-all {
	color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-scheduled {
	color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

.btn-draft {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-trash {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

a.selected-status {
	color: #333;
    text-decoration: none;
}
